.super-mario {
    width: 100px;
    position: absolute;
    float: left;
    margin: 70px 0 0 100px;
  }
  
  .goomba {
    width: 60px;
    float: left;
    position: absolute;
    margin: 200px 0 0 150px;
  }
  
  .baloon {
    width: 200px;
    margin-left: 240px;
    margin-top: 30px;
    position: absolute;
    z-index: 2;
  }
  
  .speach {
    font-size: 15px;
    margin: 70px 0 0 260px;
    position: absolute;
    z-index: 3;

  }
  
  .bowser {
    width: 200px;
    margin: 120px 0 0 420px;
    position: absolute;
    z-index: 1;
  }